<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :process %>
    <%= form.text_field :process %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code %>
  </div>

  <div class="field">
    <%= form.label :reclaimed %>
    <%= form.number_field :reclaimed %>
  </div>

  <div class="field">
    <%= form.label :authorized %>
    <%= form.number_field :authorized %>
  </div>

  <div class="field">
    <%= form.label :difference %>
    <%= form.number_field :difference %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
