<p id="notice"><%= notice %></p>

<h1>Services</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Process</th>
      <th>Code</th>
      <th>Reclaimed</th>
      <th>Authorized</th>
      <th>Difference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.customer %></td>
        <td><%= service.process %></td>
        <td><%= service.code %></td>
        <td><%= service.reclaimed %></td>
        <td><%= service.authorized %></td>
        <td><%= service.difference %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
