<%= form_with(model: customer, local: true) do |form| %>
<% if customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(customer.errors.count, "error") %>
      prohibited this customer from being saved:</h2>
    <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="" style="display:none;">
  <%= form.text_field :insurance, value: 'ARS Humano' %>
</div>

    <div class="humano_form_container">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="content">
                <p class="title"><%= form.label :Nombre %></p>
                <p class="input"><%= form.text_field :name%></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="content">
                <p class="title"><%= form.label :Celular %></p>
                <p class="input"><%= form.text_field :cell, 'data-mask': '000-000-0000' %></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="content">
                <p class="title"><%= form.label :Teléfono %></p>
                <p class="input"><%= form.text_field :phone, 'data-mask': '000-000-0000' %></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="content id_document">
                <p class="title"><%= form.collection_radio_buttons :doc_type, Customer.doc_types, :first, :first %></p>
                <p class="input"><%= form.text_field :doc, 'data-mask': '000-0000000-0' %></p>
              </div>
            </div>

          </div>


          <div class="row third_row">

            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="content">
                <p class="title"><%= form.label :Email %></p>
                <p class="input"><%= form.text_field :email %></p>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="content">
                <p class="title"> <label for="affiliate_number">No.  de Afiliado</label> </p>
                <p class="input"><%= form.number_field :affiliate_number %></p>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="content">
                <p class="title">Genero</p>
                <p class="input gender"><%= form.collection_radio_buttons :gender, Customer.genders, :first, :first %></p>
              </div>
            </div>





          </div>
        </div>
      </div>

      <div class="buttons">
        <%= form.submit :GUARDAR, class: "save_customer" %>
        <button type="button" class=" close_new_modal " data-dismiss="modal" aria-label="Close" onclick="reloadEdit()">
          CANCELAR
        </button>
      </div>

    <% end %>

  </div>
