<%= form_for([@customer, @customer.service.build], remote: true) do |f| %>
  <p>
    <%= f.label :process, "process" %><br>
    <%= f.text_field :process %>
  </p>
  <p>
    <%= f.label :code, "code" %><br>
    <%= f.number_field :code %>
  </p>

  <p>
    <%= f.label :reclaimed, "reclaimed" %><br>
    <%= f.number_field :reclaimed %>
  </p>
  <p>
    <%= f.label :authorized, "authorized" %><br>
    <%= f.number_field :authorized %>
  </p>
  <p>
    <%= f.label :difference, "difference" %><br>
    <%= f.number_field :difference %>
  </p>


  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
