<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @customer.cell %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Affiliate number:</strong>
  <%= @customer.affiliate_number %>
</p>

<p>
  <strong>Img:</strong>
  <%= @customer.img %>
</p>

<p>
  <strong>Age:</strong>
  <%= @customer.age %>
</p>

<p>
  <strong>Doc:</strong>
  <%= @customer.doc %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @customer.sector %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.gender %>
</p>

<p>
  <strong>Doc type:</strong>
  <%= @customer.doc_type %>
</p>

<p>
  <strong>Autorization number:</strong>
  <%= @customer.autorization_number %>
</p>

<p>
  <strong>Therapies:</strong>
  <%= @customer.therapies %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @customer.adress %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
