<p id="notice"><%= notice %></p>

<p>
  <strong>Padecimiento:</strong>
  <%= @historial.padecimiento %>
</p>

<p>
  <strong>Status:</strong>
  <%= @historial.status %>
</p>

<p>
  <strong>Patologico:</strong>
  <%= @historial.patologico %>
</p>

<p>
  <strong>Familiares:</strong>
  <%= @historial.familiares %>
</p>

<p>
  <strong>Examen:</strong>
  <%= @historial.examen %>
</p>

<p>
  <strong>Anexo:</strong>
  <%= @historial.anexo %>
</p>

<p>
  <strong>Unificada:</strong>
  <%= @historial.unificada %>
</p>

<p>
  <strong>Autorizar:</strong>
  <%= @historial.autorizar %>
</p>

<p>
  <strong>Firma:</strong>
  <%= @historial.firma %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @historial.customer %>
</p>

<%= link_to 'Edit', edit_historial_path(@historial) %> |
<%= link_to 'Back', historials_path %>
